{% extends "base.html" %} {% block content %}
<div class="container">
  <h1>What is "Rock, Paper, Scissors"?</h1>
  <blockquote cite="https://en.wikipedia.org/wiki/Rock_paper_scissors">
    Rock, Paper, Scissors is a hand game originating from China, usually played
    between two people, in which each player simultaneously forms one of three
    shapes with an outstretched hand. These shapes are "rock" (a closed fist),
    "paper" (a flat hand), and "scissors" (a fist with the index finger and
    middle finger extended, forming a V). "Scissors" is identical to the
    two-fingered V sign (also indicating "victory" or "peace") except that it is
    pointed horizontally instead of being held upright in the air.
    <p>
      A simultaneous, zero-sum game, it has three possible outcomes: a draw, a
      win or a loss. A player who decides to play rock will beat another player
      who has chosen scissors ("rock crushes scissors" or "breaks scissors" or
      sometimes "blunts scissors"[4]), but will lose to one who has played paper
      ("paper covers rock"); a play of paper will lose to a play of scissors
      ("scissors cuts paper"). If both players choose the same shape, the game
      is tied and is usually immediately replayed to break the tie. The type of
      game originated in China and spread with increased contact with East Asia,
      while developing different variants in signs over time.
    </p>
    <cite>Wikipedia</cite>
  </blockquote>

  <h1>How to Play?</h1>
  <p>
    To play in the address bar above, type in your choices for player one and
    player two after a foward slash each. For example: [localhost]/paper/rock
  </p>
  <p>Press "Enter" on your keyboard to see who's the winner!</p>

  <h1>Play Against a Computer?</h1>
  <p>
    Interested in trying your luck against a computer? If yes, click
    <a href="/play">here</a> to start!
  </p>
</div>
{% endblock %}
